<div>
  <nb-layout>
    <nb-layout-header fixed>
      <div class="left">
        <span class="company-name" routerLink="/board/home">{{companyName}}</span>
      </div>
      <div class="right">
        <span class="user-name">{{userName}}</span>
        <button (click)="openAdminDialog()" nbButton *ngIf="isAdmin">Admin</button>
        <button (click)="disconnect()" nbButton>Disconnect</button>
      </div>
    </nb-layout-header>
    <nb-sidebar>
      <nb-menu [items]="pages">
      </nb-menu>
    </nb-sidebar>
    <nb-layout-column>
      <router-outlet name="sub"></router-outlet>
    </nb-layout-column>
  </nb-layout>
</div>
