<div [nbSpinner]="pages === undefined || loading" class="container">
  <div *ngIf="pages !== undefined" class="accordion-wrapper">
    <nb-accordion>
      <nb-accordion-item *ngFor="let page of pages; let idx = index">
        <nb-accordion-item-header>
          <div class="icon-container" [ngClass]="{disabled: idx === 0}" (click)="movePage($event, idx, 'up')">
            <nb-icon icon="arrow-ios-upward-outline"></nb-icon>
          </div>
          <div class="icon-container" [ngClass]="{disabled: idx === pages.length - 1}" (click)="movePage($event, idx, 'down')">
            <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
          </div>
          {{page.name}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div>
            <div class="input-line top">
              <label for="page-form-{{idx}}-name">Page name:</label>
              <input nbInput id="page-form-{{idx}}-name" type="text" [(ngModel)]="page.name"/><br/>
            </div>
            <div class="input-line top">
              <label for="page-form-{{idx}}-namespace">Namespace:</label>
              <input nbInput id="page-form-{{idx}}-namespace" type="text" [(ngModel)]="page.namespace"/><br/>
            </div>
            <div class="input-line top">
              <label for="page-form-{{idx}}-slug">Page URL:</label>
              <input nbInput id="page-form-{{idx}}-slug" type="text" [(ngModel)]="page.slug"/><br/>
            </div>
            <div class="input-line top">
              <label nbTooltip="Generally an id" for="page-form-{{idx}}-main">Main field:</label>
              <nb-select id="page-form-{{idx}}-main" selected="{{page.main}}" (selectedChange)="setMain(idx, $event)">
                <nb-option value="{{i}}" *ngFor="let field of page.model; let i = index">{{field.name}}</nb-option>
              </nb-select>
            </div>
            <div class="input-line">
              <label>Inputs</label>
              <button nbButton (click)="addField(idx)">Add Input</button>
            </div>
            <div class="page-inputs">
              <div class="page-input-item" *ngFor="let field of page.model; let fieldIdx = index">
                <div class="input-line">
                  <input nbTooltip="Field name" type="text" placeholder="Name" [(ngModel)]="page.model[fieldIdx].name" nbInput/>
                  <nb-select nbTooltip="Field type" placeholder="Type" [(selected)]="field.type" id="page-form-{{idx}}-type">
                    <nb-option value="string">String</nb-option>
                    <nb-option value="text">Long text</nb-option>
                    <nb-option value="number">Number</nb-option>
                  </nb-select>
                </div>
                <div class="input-line path-input-line">
                  <nb-checkbox
                    nbTooltip="Use the name of the document instead of a value"
                    [checked]="field.keysAreProperties"
                    (checkedChange)="field.keysAreProperties = $event"
                  >
                    Use document ID
                  </nb-checkbox>
                  <input
                    type="text"
                    nbTooltip="Field path (use :[A-Za-z] to use main. ex: data/:user/name"
                    *ngIf="!field.keysAreProperties"
                    [(ngModel)]="field.path"
                    nbInput
                    placeholder="Path"
                  />
                </div>
                <div class="input-line">
                  <button nbButton status="danger" (click)="deleteField(idx, fieldIdx)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
  <div class="footer">
    <button nbButton (click)="addPage()">Add page</button>
    <label class="error">{{error}}</label>
    <button nbButton status="primary" (click)="save()">Save</button>
  </div>
</div>
