<div class="edit-dialog">
  <div *ngFor="let row of context.model; let idx = index">
    <label>{{row.name + ' :'}}</label>
    <ng-container [ngSwitch]="row.type">
      <ng-container *ngSwitchCase="'string'">
        <input nbInput [attr.disabled]="row.constant && row.constant === true" value="{{context.row[idx]}}" type="text"/>
      </ng-container>
      <ng-container *ngSwitchCase="'number'">
        <input nbInput [attr.disabled]="row.constant && row.constant === true" value="{{context.row[idx]}}" type="number"/>
      </ng-container>
      <ng-container *ngSwitchCase="'text'">
        <textarea nbInput [attr.disabled]="row.constant && row.constant === true" value="{{context.row[idx]}}"></textarea>
      </ng-container>
      <ng-container *ngSwitchCase="'boolean'">
        <nb-toggle [attr.disabled]="row.constant && row.constant === true" checked="{{context.row[idx]}}"></nb-toggle>
      </ng-container>
    </ng-container>
  </div>
  <div>
    <button nbButton outline status="danger">Cancel</button>
    <button nbButton status="primary">Apply</button>
  </div>
</div>
