<div>
  <nb-card>
    <nb-card-body>
      <table *ngIf="page && rows[0] && rows[0].length > 0">
        <thead>
          <tr>
            <ng-container *ngFor="let row of page.model">
              <th>{{row.name}}</th>
            </ng-container>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _row of rows[page.main]; let idx = index">
            <td *ngFor="let cell of rows; let i = index">{{cell[idx]}}</td>
            <td><button nbButton>Edit</button></td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>
