@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

.nb-theme-dark table tr td, .nb-theme-dark table tr th {
  position: relative;
  padding: .875rem 1.25rem;
  border: 1px solid #151a30;
  vertical-align: middle;

}

.nb-theme-dark table {
  border-collapse: collapse;
}

.nb-theme-dark tbody tr:nth-child(2n) {
  background-color: #192038;
}

div:focus {
  outline: none !important;
}

.no-padding-window nb-card-body {
  padding: 0;
}

a:focus {
  outline: none !important;
}

.no-padding {
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 7px;
  margin-right: 5px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #171d2f;
}
